<a href="https://colab.research.google.com/github/Dhana10/Cricket_Score_prediction/blob/main/ML_assignment(Cricket_price_prediction).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cricket Score Prediction

**This predicts the score of particular team at end on basis of parameters mentioned below using Machine learning techniques**

First lets connect drive to notebook using code below

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
Importing required libraies

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/ML_assignment/ipl2.csv")

In [ ]:
df

       mid        date  ... non-striker total
0        1  2008-04-18  ...           0   222
1        1  2008-04-18  ...           0   222
2        1  2008-04-18  ...           0   222
3        1  2008-04-18  ...           0   222
4        1  2008-04-18  ...           0   222
...    ...         ...  ...         ...   ...
76009  617  2017-05-21  ...          12   129
76010  617  2017-05-21  ...          12   129
76011  617  2017-05-21  ...          12   129
76012  617  2017-05-21  ...          13   129
76013  617  2017-05-21  ...          13   129

[76014 rows x 15 columns]

In [ ]:
df.describe()

                mid          runs  ...   non-striker         total
count  76014.000000  76014.000000  ...  76014.000000  76014.000000
mean     308.627740     74.889349  ...      8.869287    160.901452
std      178.156878     48.823327  ...     10.795742     29.246231
min        1.000000      0.000000  ...      0.000000     67.000000
25%      154.000000     34.000000  ...      1.000000    142.000000
50%      308.000000     70.000000  ...      5.000000    162.000000
75%      463.000000    111.000000  ...     13.000000    181.000000
max      617.000000    263.000000  ...    109.000000    263.000000

[8 rows x 9 columns]

In [ ]:

# --- Data Cleaning ---
# Removing unwanted columns
columns_to_remove = ['mid', 'venue', 'batsman', 'bowler', 'striker', 'non-striker']
df.drop(labels=columns_to_remove, axis=1, inplace=True)

In [ ]:
df.head()

         date               bat_team  ... wickets_last_5  total
0  2008-04-18  Kolkata Knight Riders  ...              0    222
1  2008-04-18  Kolkata Knight Riders  ...              0    222
2  2008-04-18  Kolkata Knight Riders  ...              0    222
3  2008-04-18  Kolkata Knight Riders  ...              0    222
4  2008-04-18  Kolkata Knight Riders  ...              0    222

[5 rows x 9 columns]

In [ ]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [ ]:
# Keeping only consistent teams
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']

In [ ]:
df = df[(df['bat_team'].isin(consistent_teams)) & (df['bowl_team'].isin(consistent_teams))]

In [ ]:
# Removing the first 5 overs data in every match
df = df[df['overs']>=5.0]

In [ ]:
df.head()

          date               bat_team  ... wickets_last_5  total
32  2008-04-18  Kolkata Knight Riders  ...              0    222
33  2008-04-18  Kolkata Knight Riders  ...              1    222
34  2008-04-18  Kolkata Knight Riders  ...              1    222
35  2008-04-18  Kolkata Knight Riders  ...              1    222
36  2008-04-18  Kolkata Knight Riders  ...              1    222

[5 rows x 9 columns]

In [ ]:
print(df['bat_team'].unique())
print(df['bowl_team'].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Mumbai Indians' 'Kings XI Punjab' 'Royal Challengers Bangalore'
 'Delhi Daredevils' 'Sunrisers Hyderabad']
['Royal Challengers Bangalore' 'Kings XI Punjab' 'Delhi Daredevils'
 'Rajasthan Royals' 'Mumbai Indians' 'Chennai Super Kings'
 'Kolkata Knight Riders' 'Sunrisers Hyderabad']

In [ ]:
# Converting the column 'date' from string into datetime object
from datetime import datetime
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# --- Data Preprocessing ---
# Converting categorical features using OneHotEncoding method
encoded_df = pd.get_dummies(data=df, columns=['bat_team', 'bowl_team'])

In [ ]:
encoded_df.head()

         date  ...  bowl_team_Sunrisers Hyderabad
32 2008-04-18  ...                              0
33 2008-04-18  ...                              0
34 2008-04-18  ...                              0
35 2008-04-18  ...                              0
36 2008-04-18  ...                              0

[5 rows x 23 columns]

In [ ]:
encoded_df.columns

Index(['date', 'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'total', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils',
       'bat_team_Kings XI Punjab', 'bat_team_Kolkata Knight Riders',
       'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils',
       'bowl_team_Kings XI Punjab', 'bowl_team_Kolkata Knight Riders',
       'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [ ]:
# Rearranging the columns
encoded_df = encoded_df[['date', 'bat_team_Chennai Super Kings', 'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
              'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians', 'bat_team_Rajasthan Royals',
              'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
              'bowl_team_Chennai Super Kings', 'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab',
              'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians', 'bowl_team_Rajasthan Royals',
              'bowl_team_Royal Challengers Bangalore', 'bowl_team_Sunrisers Hyderabad',
              'overs', 'runs', 'wickets', 'runs_last_5', 'wickets_last_5', 'total']]

In [ ]:
# Splitting the data into train and test set
X_train = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year <= 2016]
X_test = encoded_df.drop(labels='total', axis=1)[encoded_df['date'].dt.year >= 2017]

In [ ]:
y_train = encoded_df[encoded_df['date'].dt.year <= 2016]['total'].values
y_test = encoded_df[encoded_df['date'].dt.year >= 2017]['total'].values

In [ ]:
# Removing the 'date' column
X_train.drop(labels='date', axis=True, inplace=True)
X_test.drop(labels='date', axis=True, inplace=True)

**Importing linear Regression from Sklearn **

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
temp_array = list()

In [ ]:
batting_team = input("Batting team")

Batting teamChennai Super Kings

In [ ]:
while True:
  bowling_team = input("Bowling team:")
  if batting_team != bowling_team :
    break
  else :
    print("Batting team and bowling team selected same")

Bowling team:Chennai Super Kings
Batting team and bowling team selected same
Bowling team:Kolkata Knight Riders

In [ ]:
if batting_team == 'Chennai Super Kings':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif batting_team == 'Delhi Daredevils':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif batting_team == 'Kings XI Punjab':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif batting_team == 'Kolkata Knight Riders':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif batting_team == 'Mumbai Indians':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif batting_team == 'Rajasthan Royals':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif batting_team == 'Royal Challengers Bangalore':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif batting_team == 'Sunrisers Hyderabad':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]

In [ ]:
if bowling_team == 'Chennai Super Kings':
    temp_array = temp_array + [1,0,0,0,0,0,0,0]
elif bowling_team == 'Delhi Daredevils':
    temp_array = temp_array + [0,1,0,0,0,0,0,0]
elif bowling_team == 'Kings XI Punjab':
    temp_array = temp_array + [0,0,1,0,0,0,0,0]
elif bowling_team == 'Kolkata Knight Riders':
    temp_array = temp_array + [0,0,0,1,0,0,0,0]
elif bowling_team == 'Mumbai Indians':
    temp_array = temp_array + [0,0,0,0,1,0,0,0]
elif bowling_team == 'Rajasthan Royals':
    temp_array = temp_array + [0,0,0,0,0,1,0,0]
elif bowling_team == 'Royal Challengers Bangalore':
    temp_array = temp_array + [0,0,0,0,0,0,1,0]
elif bowling_team == 'Sunrisers Hyderabad':
    temp_array = temp_array + [0,0,0,0,0,0,0,1]

In [ ]:
overs = float(input("overs:"))
runs = int(input("runs:"))
wickets = int(input("wickets:"))
runs_in_prev_5 = int(input("runs in previous 5 overs:"))
wickets_in_prev_5 = int(input("Wickets in 5 overs:"))

overs:10
runs:151
wickets:7
runs in previous 5 overs:77
Wickets in 5 overs:5

In [ ]:
temp_array = temp_array + [overs, runs, wickets, runs_in_prev_5, wickets_in_prev_5]

In [ ]:
data = np.array([temp_array])

In [ ]:
print("Predicted Score:")
print(regressor.predict(data)[0])

Predicted Score:
203.91823058723202